In [124]:
import pandas as pd
df = pd.read_csv('results_2023-12-04_12-40-05_8000.csv', sep=',', dtype={'T_B': object})

# Prices
df['prices'] = df['prices'].apply(lambda x: x.split(','))
df['prices'] = df['prices'].apply(lambda x: [float(x[0][1:]), float(x[1]), float(x[2]), float(x[3][:-1])])

# Buffer
df['T_B'] = df['T_B'].apply(lambda x: x.split(','))
df['T_B'] = df['T_B'].apply(lambda x: [float(x[0][1:]), float(x[1]), float(x[2]), float(x[3][:-1])])

# Storage
df['T_S'] = df['T_S'].apply(lambda x: x.split(','))
df['T_S'] = df['T_S'].apply(lambda x: [float(x[0][1:]), float(x[1]), float(x[2]), 
                                       float(x[3]),
                                       float(x[4]),
                                       float(x[5]),
                                       float(x[6]),
                                       float(x[7]),
                                       float(x[8]),
                                       float(x[9]),
                                       float(x[10]),
                                       float(x[11][:-1])])
df_original = df #backup

#print(df['T_B'][0][0])
#print(df['T_S'][0][0])
#df.head()

In [250]:
import numpy as np
df = df_original
df = df.drop('iter', axis=1)

df['T_B'] = df['T_B'].apply(lambda x:np.mean(x))
df['T_S1'] = df['T_S'].apply(lambda x: np.mean(x[:4]))
df['T_S2'] = df['T_S'].apply(lambda x: np.mean(x[4:8]))
df['T_S3'] = df['T_S'].apply(lambda x: np.mean(x[8:]))
df = df.drop('T_S', axis=1)

df[['price1','price2', 'price3', 'price4']] = pd.DataFrame(df.prices.tolist(), index= df.index)
df = df.drop('prices', axis=1)

df['m_load'] = 0.2

df['sequence'] = df['sequence'].apply(lambda x: x.replace('[0, 0, 0]', '1'))
df['sequence'] = df['sequence'].apply(lambda x: x.replace('[0, 1, 0]', '2'))
df['sequence'] = df['sequence'].apply(lambda x: x.replace('[1, 0, 1]', '3'))
df['sequence'] = df['sequence'].apply(lambda x: x.replace('[1, 1, 1]', '4'))

df['sequence'] = df['sequence'].apply(lambda x: x.split(','))
df['sequence'] = df['sequence'].apply(lambda x: [int(x[0][1:]), int(x[1]), int(x[2]), int(x[3][:-1])])

df[['combi1','combi2', 'combi3', 'combi4']] = pd.DataFrame(df.sequence.tolist(), index= df.index)
df = df.drop('sequence', axis=1)

df['sequence'] = df.apply(lambda row: [int(row['combi1']), int(row['combi2']), 
                                       int(row['combi3']), int(row['combi4'])], axis=1)

df.head()

,T_B,T_S1,T_S2,T_S3,price1,price2,price3,price4,m_load,combi1,combi2,combi3,combi4,sequence
0,300.000,320.00,320.000,320.000,18.97,18.97,18.92,18.92,0.2,2,2,1,1,"[2, 2, 1, 1]"
1,309.675,319.80,314.925,306.675,18.97,18.92,18.92,18.21,0.2,1,1,1,1,"[1, 1, 1, 1]"
2,305.575,318.95,311.925,305.700,18.92,18.92,18.21,18.21,0.2,2,4,1,1,"[2, 4, 1, 1]"
3,313.975,308.90,305.725,304.675,18.92,18.21,18.21,16.58,0.2,4,4,1,1,"[4, 4, 1, 1]"
4,313.050,308.90,305.725,304.675,18.21,18.21,16.58,16.58,0.2,4,1,4,1,"[4, 1, 4, 1]"

In [256]:
# Import library
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
from sklearn.metrics import precision_score, recall_score, accuracy_score

# Define X and y
X = df[['T_B','T_S1','T_S2','T_S3','price1','price2','price3','price4','m_load']]
y = df[['combi1','combi2','combi3','combi4']]

# For a 70-30 split (70% train, 30% test), with random state 123
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=123)

# Get y_true
y_true = df['sequence'][y_test.index].tolist()

# Random Forest with K trees
K = 200
classifier = RandomForestClassifier(max_depth=300, random_state=0, n_estimators=K)
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)

# Look at performance

y_true = np.array([item for sublist in y_true for item in sublist])
y_pred = np.array([item for sublist in y_pred for item in sublist])

precision = precision_score(y_true, y_pred, average='weighted')
recall = recall_score(y_true, y_pred, average='weighted')
accuracy = accuracy_score(y_true, y_pred)

print("Precision:", precision)
print("Recall:", recall)
print("Accuracy:", accuracy)

Precision: 0.85
Recall: 0.85
Accuracy: 0.85